body{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue","Helvetica","Arial",Sans-Serif;
	font-size: 13px;
	font-weight: 500;
	text-shadow: 0 1px 0 #fff;
	background: #666 url("../images/tweed.png");
	color: #423e3e;
}

h1{
	font-size: 13px;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	color: #423e3e;
	text-decoration: none;
}

a:hover{
	color: #423e3e;
}

textarea, input{
	margin: 0;
	padding: 0;
	outline: none;
	background: transparent;
	font-family: "Helvetica Neue","Helvetica","Arial",Sans-Serif;
	border: none;
	resize: none;
	line-height: 26px;
	font-size: 13px;
	font-weight: 500;
	color: #423e3e;
	
}

button{
	background: none;
	border: 0px; 
}