#sidebar{
	float: left;
	width: 21%;
	height: 100%;
	background: #eee url("../images/sidebar.png");
}

#main-content{
	float: left;
	width: 50%;
	height: 100%;
	padding:0 10px;
	overflow: scroll;
	box-sizing: border-box; 
	
}	

#detail{
	float: left;
	width:28%;
	height: 100%;
	padding: 18px 18px 18px 0;
	box-sizing: border-box;	

}

#actionbar{
	position: fixed;
	bottom: 23px;
	right: 32%;	
}

.mobile_menu{
		padding: 10px;
		background: #eee;
		display: none;
		text-align: center
}
.mobile_menu span{
	display: inline-block;
	margin-left:20px;
	padding: 4px 20px; 
	border: 1px solid #aaa;
	border-radius:4px; 
	cursor: pointer;
}


/*@media only screen and (max-width : 900px) {
	.mobile_menu{
		display: block;
	}
	#sidebar, #main-content, #detail{
		position:absolute;
		text-outline: 40px;
		left:0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	#sidebar{
		display: none;
	}
	#detail{
		display: none; 
	}
}
*/