/*logo module*/

.logo-container{
	background: url("../images/sidebar_logo.png");
	height: 27px;
	padding-top:10px; 
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	border-bottom:1px solid #afafaf;
	text-align: center;
	font-weight: bold;
}
.logo{
	background: url("../images/logo.png");
	width: 78px;
	height: 18px;
	margin: 0 auto;

}


/*list-item module*/

.list{
	background : url("../images/divider.png") center bottom repeat-x;
	padding: 8px;	
	cursor: pointer;
}


.list .title{
	margin-left: 15px;
	text-overflow: ellipsis;
}

/* list states*/
.list-active{
	background: url("../images/list-active.jpg");
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,0.45);
	background-position: bottom; 
	height: 20px;
}


/*add list module*/

/*icon module*/
.icon {
	display: inline-block;
	background-image: url("../images/icons.png");
	vertical-align: middle;
	cursor: pointer;
}

.icon-list {
	background-position: -621px -254px;
	width: 20px;
	height: 20px
}

.icon-delete {
	background-position: -591px -192px;
	width: 20px;
	height: 20px;
}

.icon-task-checkbox{
	background-position: -495px -394px;
	width: 20px;
	height: 18px;	
}

.icon-task-checked{
	background-position: -515px -394px;
	width: 20px;
	height: 18px;
}
.icon-task-separator {
	background-position: -517px -34px;
	width: 2px;
	height: 33px;
}

/*add task module*/

.add-task-container{
	padding-top: 20px;
}

.add-task{
	
	display: block;
	background: none;
	border:none;

	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
	

	font-weight: bold;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 2px;
	-webkit-font-smoothing: antialiased;
	text-indent: 20px;
	
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.298039) 0px, rgba(0, 0, 0, 0.0980392) 100%);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px 0px inset, rgba(255, 255, 255, 0.4) 0px 1px 0px 0px;
	border-radius: 4px;
	outline: none;	

}	

/*task-item module*/
.task-group{
	width: 89%;
	margin: 13px auto 0;
}

.task-item-body{

	margin-bottom:4px;
	height: 34px;
	border-radius: 4px;
	padding-left: 9px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4),0 0 0 1px rgba(0,0,0,0.08);
	background:  url("../images/task.png") repeat-x;
	box-shadow: -42 1px 3px rgba(0,0,0,0.4),0 0 0 1px rgba(0,0,0,0.08);
}

.task-item-body .task-title{
	padding-left: 4px;
}

/* task-item module states */
.task-done{
	opacity: .6;
}


/*panel module*/
.panel{
	height: 100%;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border-radius: 4px;
	background: #e9e9e9 url("../images/detail.png");

}

.panel-title{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.24)), color-stop(1, rgba(178,178,178,0.24)));
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	padding: 16px 55px 13px;
	font-size: 16px;
	font-weight:bold;
	text-align: center;
	border-bottom:1px solid rgba(0,0,0,0.24); 
}

/* note module*/
.note{
	background: #f8f5db;
	background-image: -webkit-linear-gradient(#dee2d0 1px,transparent 1px);
	background-size: 100% 26px;

    /*background-image: -webkit-linear-gradient(#dee2d0 1px,transparent 1px);*/
    padding: 8px 15px;
    margin: 20px;
    border: 1px solid #cfcfcf;
    line-height: 26px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1),inset 0 1px 0 #f8f5db;
    min-height: 128px;
}



