/*body{
	background: url("../images/10.jpg");
}

#lists{
	position: absolute;
	width: 270px;
	left: 0;
	bottom: 0;
	top:0;
	background: #eee url("../images/sidebar.png");
}

#tasks{
	position: absolute;
	left: 270px;
	top:0px;
	bottom: 0px;
	right: 370px;
}

#details{
	position: absolute;
	right: 0;
	top:0;
	bottom:0;
	width: 360px;
	background: #fff;

}
.logo_container{
	background: url("../images/sidebar_logo.png");
	height: 37px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	border-bottom:1px solid #afafaf;
}
.logo{
	background: url("../images/logo.png");
	width: 78px;
	height: 18px;
}

.addTask{
-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px 0px inset, rgba(255, 255, 255, 0.4) 0px 1px 0px 0px;
-webkit-font-smoothing: antialiased;
-webkit-user-select: none;
background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.298039) 0px, rgba(0, 0, 0, 0.0980392) 100%);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-top-color: rgba(0, 0, 0, 0.4);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px 0px inset, rgba(255, 255, 255, 0.4) 0px 1px 0px 0px;
color: rgb(66, 62, 62);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: 500;
height: 16px;
margin-bottom: 13px;
margin-left: 0px;
margin-right: 1px;
margin-top: 12px;
padding-bottom: 8px;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
position: relative;
text-decoration: none solid rgb(66, 62, 62);
width: 806px;

}

.addTask input{
	-webkit-appearance: none;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: none;
-webkit-font-smoothing: antialiased;
-webkit-rtl-ordering: logical;
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0s;
-webkit-transition-property: none;
-webkit-transition-timing-function: ease;
-webkit-user-select: text;
-webkit-writing-mode: horizontal-tb;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(255, 255, 255);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-shadow: none;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: auto;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: bold;
height: 16px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 23px;
padding-right: 60px;
padding-top: 0px;
text-align: start;
text-decoration: none solid rgb(255, 255, 255);
text-indent: 0px;
text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 2px;
text-transform: none;
transition-delay: 0s;
transition-duration: 0s;
transition-property: none;
transition-timing-function: ease;
width: 806px;
word-spacing: 0px;
writing-mode: lr-tb;
}

#tasks{
	overflow-y: auto;
overflow-x: hidden;
position: absolute;

padding: 6px 7px 60px 
}

.list{

background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(255, 255, 255);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-shadow: none;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: auto;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: bold;
height: 16px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 60px;
padding-top: 0px;
text-align: start;
text-decoration: none solid rgb(255, 255, 255);
text-indent: 0px;
text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 2px;
text-transform: none;

width: 806px;
word-spacing: 0px;

}

.lists-collection{
	margin:0px;
	padding: 0px;
}

ul>li{
	-webkit-font-smoothing: antialiased;
-webkit-user-select: none;
color: rgb(66, 62, 62);
display: list-item;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: 500;
height: 36px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: left;
text-decoration: none solid rgb(66, 62, 62);
width: 270px;
z-index: 15;
}

ul>li>a{
	-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-font-smoothing: antialiased;
-webkit-user-select: none;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background: url(https://d2hkcehpyog59.cloudfront.net/69bc6e85b0b6ed2e8daa7eb717b9ac5360767655/images/textures/divider.png) center bottom repeat-x;
background-origin: padding-box;
background-size: auto;
box-sizing: border-box;
color: rgb(66, 62, 62);
cursor: pointer;
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: bold;
height: 36px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 8px;
padding-left: 8px;
padding-right: 12px;
padding-top: 8px;
position: relative;
text-align: left;
text-decoration: none solid rgb(66, 62, 62);
text-shadow: rgb(255, 255, 255) 0px 1px 0px;
width: 270px;
}

ul>li span.icon{
	-webkit-font-smoothing: antialiased;
-webkit-user-select: none;
background-image: url(https://d2hkcehpyog59.cloudfront.net/c1278ccefe9ca4a9afe645d63129cf84081ee752/images/sprites/app.png);
background-position: -621px -254px;
color: rgb(66, 62, 62);
cursor: pointer;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: bold;
height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
text-decoration: none solid rgb(66, 62, 62);
text-shadow: rgb(255, 255, 255) 0px 1px 0px;
vertical-align: middle;
width: 20px;
}

.title{
webkit-font-smoothing: antialiased;
-webkit-user-select: none;
color: rgb(66, 62, 62);
cursor: pointer;
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: bold;
height: 16px;
left: 38px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: absolute;
right: 42px;
text-align: left;
text-decoration: none solid rgb(66, 62, 62);
text-overflow: ellipsis;
text-shadow: rgb(255, 255, 255) 0px 1px 0px;
top: 10px;
white-space: nowrap;
width: 190px;}*/